
.filters{
	background-color: #FFFFFF;
	height: 70px;
	width:100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.filters button{
	margin-right:30px;
	font-size: 18px;
	background-color:#FF5A5F;
	color:#FFFFFF;
	height:48px;
	width:20%;
	border: 0;
	border-radius: 4px;
	opacity: 1;
	margin-left: auto;

}


.filters button:hover{
	opacity: 0.9;
}

.filters .locations, .filters .amenities{
	height: 100%;
	width: 25%;
	text-align: center;

}

.filters .locations{
	border-right:#DDDDDD solid 1px;
}


.filters .locations h3, .filters .amenities h3{
	padding:0;
	margin: 0;
	margin-left: 20%;
	margin-top: 5%;
	font-weight: 600;
	width: fit-content;
	white-space: nowrap;

}
.filters .locations h4,.filters .amenities h4{
	margin: 0;
	margin-left: 20%;
	padding:0;
	font-weight: 400;
	font-size: 14px;
	width: fit-content;
	white-space: nowrap;

}

.popover{
	margin-top: 21px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FAFAFA;
	border: #DDDDDD solid 1px ;
	border-radius:4px;

	position: relative;
	display: none;
	text-align: left;

}
.popover h2{
	font-size: 16px;
}
.popover li{
	padding: 0;
	margin: 5px;
	list-style: none;
}

.locations:hover >.popover, .locations:focus >.popover{
	display: block;
}
.amenities:hover >.popover, .amenities:focus >.popover {
	display: block;
}


@media only screen and (max-width: 600px) {
	.filters {
		flex-direction: row;
		height: auto;
		padding: 2px;
		flex-wrap:wrap ;
		justify-content: center;

	}
	.filters .locations .popover{
		position: absolute;
		left:0;
		right: 0;
		top: 0;
		bottom: 50%;
		margin: 0;
	}
	.filters .amenities .popover{
		position: absolute;
		left:0;
		right: 0;
		top: 0;
		bottom: 50%;
		margin: 0;
	}
	.filters .locations{
		width: auto;
		flex-grow: 1;
	}
	.filters .amenities{
		width: auto;
		flex-grow: 1;

	}
	.filters button{
		width: 100%;
		margin: 0;

	}

	.popover {
		transition: all 1s;
		border-radius: 100%;
		transform: scale(0.5);
		border: #FF5A5F solid 50px ;
		opacity: 0;
	}

	.popover:hover{
		opacity: 1;
		border-radius: 0%;
		transform: scale(1);
		border: #DDDDDD solid 1px ;
	}

}

