.filters{
	background-color: #FFFFFF;
	height: 70px;
	width:100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.filters button{
	margin-right:30px;
	font-size: 18px;
	background-color:#FF5A5F;
	color:#FFFFFF;
	height:48px;
	width:20%;
	border: 0;
	border-radius: 4px;
	opacity: 1;
	margin-left: auto;

}


.filters button:hover{
	opacity: 0.9;
}

.locations, .amenities{
    height: 100%;
	width: 25%;
	text-align:left;
	line-height: 20px;
	text-align: center;
}

.locations{
	border-right:#DDDDDD solid 1px;
}


.locations h3, .amenities h3{
	padding:0;
	margin: 0;
	margin-left: 20%;
	margin-top: 5%;
	font-weight: 600;
	width: fit-content;

}
.locations h4, .amenities h4{
	margin: 0;
	margin-left: 20%;
	padding:0;
	font-weight: 400;
	font-size: 14px;
	width: fit-content;

}
